body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background: url("../images/another.jpg")
    center no-repeat;
    background-size: cover;
    border-bottom: 7px solid #FFA31A;


}

.intro__title{
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFA31A;
    line-height: 1;
}
.intro__title:after{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    margin: 60px auto;

    background-color: #FFA31A;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

/* Header*/
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #FFA31A;
}
/* Navigation */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #FFA31A;
    text-decoration: none;
    transition: color .1s linear;
    text-transform: uppercase;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    opacity: 0;
    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover{
    color: #fce38a;
}

.nav__link:hover:after,.nav__link.active:after {
    opacity: 1;
}

.nav__link.active{
    color: #fce38a;
}

/* Button */
.btn{
    color: #FFA31A;
    display: inline;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #FFA31A;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
    transition: background .1s linear, color .1s linear;
}

.btn:hover{
    background-color: #FFA31A;
    color: #333333;
}

/* Section */
.section{
    padding: 80px 0;
    background-color: black;
}

.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;

}

.section__subtitle{
    font-size: 24px;
    color: #FFA31A;
    font-family: 'Kaushan Script', cursive;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    color: #FFA31A;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFA31A;
    margin: 30px auto;
}

.section__text{
    font-size: 15px;
    color: #FFA31A;

}



/*Ticker*/

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker__wrap {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color:#FFA31A;
    padding-left: 100%;
    box-sizing: content-box;

    .ticker {

        display: inline-block;
        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: 200s;
        animation-duration: 200s;



    }
}
.ticker__item {
    display: inline-block;
    padding: 0 2rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: black;
}


/*Navigation*/


.header {
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}


.header {
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.logo {
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFA31A;
}

.logo__img {
    width: 200px;
    margin-left: 60px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;

}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: #FFA31A;
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(2) {}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}


/* Крестик */

.header.open .header__burger-btn span {
    background-color: black;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #FFA31A;
    margin-right: 60px;


}

.menu__item:not(:last-child) {
    margin-right: 70px;
}

.nav__link {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #FFA31A;
    text-decoration: none;
    transition: color .1s linear;
}
@media (max-width: 992px) {
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        right: -350px;
        top: 0;
        width: 350px;
        padding: 5px 15px 20px 10px;
        background-color: #FFA31A;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }
    .menu__list {
        display: block;
    }
    .menu__item:not(:last-child) {
        margin-right: 0;
    }
    .nav__link {
        color: black;
        font-size: 21px;
        display: block;
        padding: 10px;
    }
    .header.open .menu {
        transform: translateX(-100%);
        visibility: visible;
    }
}